@import './vars.scss';
@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html {
  font-family: $font-body;
}

body {
  position: relative;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.button__primary {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $ebonyClay;
  color: $ebonyClay;
  font-size: 14px;
  line-height: 1;
  padding: 12px 45px;
  background: #fff;
  transition: background 0.2s linear, color 0.2s linear;

  &:hover {
    background: $ebonyClay;
    color: #fff;
  }
}

.button__secondary {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $ebonyClay;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 12px 45px;
  background: $ebonyClay;
  transition: background 0.2s linear, color 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  &:hover {
    background: #fff;
    color: $ebonyClay;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
